.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.appContent {
  flex: 1;
  padding-bottom: calc(70px + var(--safe-area-inset-bottom));
  overflow-y: auto;
}